* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

body > .button--start,
body > .button--stop {
  margin-left: 45%;
  margin-right: 45%;
  border: medium solid black;
  border-radius: 3px;
  color: darkblue;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.field > .value {
  font-size: 29px;
}

.timer {
  display: flex;
}
